<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Showing Restaurant List Near You">
    <meta name="theme-color" content="#db0000">
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <title>Hunger Apps - Restaurant Finder</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Skip to content</a>
  <button id="hamburger" aria-label="Menu">☰</button>

  <header class="header">
    <div class="header__inner">
      <img src="images/logo.png" alt="Logo Hunger Apps">
    </div>
    
    <nav id="drawer" class="nav">
      <ul class="nav__list">
      <li class="nav__item" ><a href="/">Home</a></li>
      <li class="nav__item" ><a href="#/favorite">Favorite</a></li>
      <li class="nav__item" ><a href="https://github.com/Aziz8860">About us</a></li>
      </ul>
    </nav>
  </header>
    
  <main id="maincontent">
  </main>

  <footer>
    <p>copyright © 2021 - Hunger Apps</p>
  </footer>
</body>
</html>